@import './assets/fonts/fonts.css';
@import 'tailwindcss';

:root {
  --font-family-albert: 'Albert Sans', sans-serif;
  --font-family-niconne: 'Niconne', sans-serif;
  --background: #1f002b;
  --main-color: #fff;
  --secondary-color: #c4c8cc;
}

* {
  box-sizing: border-box;
  text-decoration: none;
}

*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

*::-webkit-scrollbar-button {
  width: 4px;
  height: 4px;
}

*::-webkit-scrollbar-track {
  background: #dedede;
  border-radius: 40px;
}

*::-webkit-scrollbar-thumb {
  background-color: #36173d;
  border-radius: 40px;
  border: 0px solid pink;
}

* a {
  -webkit-tap-highlight-color: transparent;
}

*:focus-visible {
  outline: none;
}

body {
  font-family: var(--font-family-albert), sans-serif;
  background: var(--background);
  font-size: 17px;
  color: var(--main-color);
  overflow-y: auto;
  overflow-x: hidden !important;
  display: flex;
  flex-direction: column;
  height: 100dvh;
}

#root {
  height: 100%;
}

a {
  display: inline-flex;
}

h2 {
  font-size: 28px;
  font-weight: 700;
}

h3 {
  color: var(--secondary-color);
}

h4 {
  font-family: var(--font-family-niconne);
  font-size: 36px;
  color: #ececfb;
}

@layer base {
  * {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}

@layer utilities {
  .container {
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
    padding: 16px 20px;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
